{% extends 'base.html' %}

{% block basecontent %}
  <div class="mx-5">
    <div>
      <p class="display-1">Categories</p>
      {% if category_products_mapping %}
        {% for category, products in category_products_mapping.items %}
          <div class="d-flex justify-content-between align-items-center">
            <h2>{{ category.name }}</h2>
            <a href="{% url 'category_products' category.slug %}">See All</a>
          </div>
          <div class="d-flex flex-wrap justify-content-center">
            {% for product in products %}
              <div class="card m-2" style="width: 18rem;" id="{{ product.retiler_sku }}">
                <img class="card-img-top" src="{{ product.images.first.image }}" alt="Card image cap" />
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'product' product.pk %}">{{ product.name }}</a></h5>
                  <p class="card-text">
                    Brand: <a href="{% url 'brand_products' product.brand.slug %}">{{ product.brand.name }}</a>
                  </p>
                  <p class="m-0">Price: {{ product.sizes.first.price }} {{ product.currency }}</p>
                  <small class="text-muted">MSRP: {{ product.sizes.first.previous_price }} {{ product.currency }}</small>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div>
      <p class="display-1">Genders</p>
      {% if gender_products_mappings %}
        {% for gender, products in gender_products_mappings.items %}
          <div class="d-flex justify-content-between align-items-center">
            <h2>{{ gender|title }}</h2>
            <a href="{% url 'gender_products' gender %}">See All</a>
          </div>
          <div class="d-flex flex-wrap justify-content-center">
            {% for product in products %}
              <div class="card m-2" style="width: 18rem;" id="{{ product.retiler_sku }}">
                <img class="card-img-top" src="{{ product.images.first.image }}" alt="Card image cap" />
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'product' product.pk %}">{{ product.name }}</a></h5>
                  <p class="card-text">
                    Brand: <a href="{% url 'brand_products' product.brand.slug %}">{{ product.brand.name }}</a>
                  </p>
                  <p class="m-0">Price: {{ product.sizes.first.price }} {{ product.currency }}</p>
                  <small class="text-muted">MSRP: {{ product.sizes.first.previous_price }} {{ product.currency }}</small>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
