{% extends 'base.html' %}

{% block basecontent %}
  <div class="mx-5">
    <div>
      <p class="display-1">Categories</p>
      {% if category_products_mapping %}
        {% for category, products in category_products_mapping.items %}
          <div class="d-flex justify-content-between align-items-center">
            <h2>{{ category.name }}</h2>
            <a href="{% url 'category_products' category.slug %}">See All</a>
          </div>
          <div class="d-flex flex-wrap justify-content-center">
            {% for product in products %}
              {% include 'product/product_card.html' %}
            {% endfor %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
    <div>
      <p class="display-1">Genders</p>
      {% if gender_products_mappings %}
        {% for gender, products in gender_products_mappings.items %}
          <div class="d-flex justify-content-between align-items-center">
            <h2>{{ gender|title }}</h2>
            <a href="{% url 'gender_products' gender %}">See All</a>
          </div>
          <div class="d-flex flex-wrap justify-content-center">
            {% for product in products %}
              {% include 'product/product_card.html' %}
            {% endfor %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
